# Bitmex API Bilgileri
BITMEX_API_KEY=ZhN2is3fxZBurWWAXj5MGNF4
BITMEX_API_SECRET=VA2KIZAv-miprHXRQO2lY5I7GiJQ-g-gCxEeNr6A5YGCmLo3
USE_TESTNET=True

# Telegram Bot Bilgileri
TELEGRAM_TOKEN=7580152196:AAGG0vA0t298dRjSnfoIolOBiJPP4e3H6CQ
TELEGRAM_CHAT_ID=841566853

# Port Ayarları
DASHBOARD_PORT=8050
API_PORT=8000

# Diğer Ayarlar
LOG_LEVEL=INFO
MAX_LEVERAGE=10
POSITION_SIZE_PERCENT=25
STOP_LOSS_PERCENT=1.5
ENABLE_TELEGRAM=True
ENABLE_API=True

# Database
DB_PATH=data/trading.db
